name: Daily Data Integration

on:
  schedule:
    - cron: '0 3 * * *' 
  workflow_dispatch:

jobs:
  collect-and-load-data:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt        
        
    - name: Run data collection and loading script
      env:
        CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
        CONTAINER_NAME: ${{ secrets.CONTAINER_NAME }}
        BLOB_CONNECTION_STRING: ${{ secrets.BLOB_CONNECTION_STRING }}
        SERVER: ${{ secrets.SERVER }}
        DATABASE: ${{ secrets.DATABASE }}
        UID: ${{ secrets.UID }}
        PWD: ${{ secrets.PWD }}
        TS: ${{ secrets.TS }}
        TI: ${{ secrets.TI }}
        CN: ${{ secrets.CN }}
        TN: ${{ secrets.TN }}
        TSR: ${{ secrets.TSR }}             
      run: |
        python daily_etl.py
    