name: Daily Data Integration

on:
  schedule:
    - cron: '15 * * * *' 
  workflow_dispatch:

jobs:
  collect-and-load-data:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt                
        
    - name: Run data collection and loading script
      env:
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}        
        SERVER: ${{ secrets.SERVER }}
        DATABASE: ${{ secrets.DATABASE }}
        UID: ${{ secrets.UID }}
        PWD: ${{ secrets.PWD }}                     
      run: |
        python extracao_carga/status.py